*{
margin: 0;
padding: 0;
}

.Block1{
    height: 100vh;
}

.Block2{
    height: 100vh;
    color: beige;
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);  
    background: linear-gradient(to right, #29323c, #485563); 
}

#messageToHide{
    width: 250px;
    height: 100px;
}

.form {
    max-width: 800px;
}
